.notas-profile-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.notas-input-custom {
    width: 100%;
    max-width: 720px;
}

.boton-verde.MuiIconButton-root {
    border-radius: 8px !important;
}

.boton-verde {
    background-color: #2FD10F !important;
    color: black !important;
    width: 64px;
    height: 64px;
    min-width: unset;
    border-radius: 8px !important;
    /* ✅ redondeo suave en esquinas, NO círculo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.boton-verde:hover {
    background-color: #28b80f !important;
}