.dialog-title {
    font-size: 27px !important;
    font-weight: bold !important;
    color: #D32F2F;
    background-color: #FBE9E7;
    text-align: center;
}

.dialog-content {
    background-color: #FBE9E7;
    text-align: center;
    font-size: 18px !important;
}

.dialog-actions {
    display: flex;
    justify-content: center !important;
    align-items: center;
    gap: 24px;
    background-color: #FBE9E7;
    padding: 16px;
}

.btn-cancel {
    background-color: #757575 !important;
}

.btn-confirm {
    background-color: #D32F2F !important;

}